body{
    font-family: "Roboto Mono", monospace;
}

nav{
    background-color: rgb(255, 36, 164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.logo > img {
    height: 50px;
    width: 50px;
    margin: 30px;
    border-radius: 30px;
}

.name{
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: "Roboto Mono", monospace;
}

.nav_list{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.nav_item{
    list-style: none;
    margin: 20px;
}

.nav_item > .nav_link{
    text-decoration: none;
    color: white;
}

.nav-btn{
    background-color: rgb(255, 36, 164);
    font-weight: 600;
    padding: 17px 24px;
    border-radius: 8px;
    font-size: 20px;
    margin: 10px 5px;
}

.nav-btn:hover{
    background-color: white;
    transition: 0.5s;
}

.nav-btn a{
    background-color: rgb(255, 36, 164);
    text-decoration: none;
    color: white;
}
.nav-btn:hover a{
    background-color: white;
    color: rgb(255, 36, 164);
    transition: 0.5s;
}



.main{
    width: 600px;
    height: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 20px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}

.main_home{
    width: 100%;
    height: 100%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translate(-300%);
    }
}

.main_offer_section{
    margin: 10px;
}

.Offer_act{
    text-align: center;
    padding: 10px;
    margin: 20px 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    font-weight: 900;
}

.off_title > span{
    color: rgb(255, 36, 164);
}

.main_text{
    padding-top: 600px;
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: deeppink;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.off_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.Offer_Container{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background-color: rgb(245, 146, 204);
}
    

.offer_img1 > img{
    width: 100%;
    height: 50%;
    border-radius: 5px;
}

.offer_info1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#offer_name{
    font-size: 30px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
}

#offer_details{
    font-size: 16px;
    font-family: "Roboto Mono", monospace;    
}

#btn_off{
    background-color: white;
    font-weight: bold;
    color: rgb(255, 36, 164);
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 5px;
    font-family: "Roboto Mono", monospace;
}

#btn_off:hover {
    background-color: rgb(255, 36, 164);
    color: white;
    box-shadow: none;
    transition: 0.5s;
}

/* shared css */

section{
    margin: 20px 10px;
}


/* gallery section  */

.gallery_title{
    text-align: center;
    padding: 10px;
    margin: 20px 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    font-weight: 900;
}

.gallery_title > h3 > span{
    color: rgb(255, 36, 164);
}

.gallery_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.gallery_items{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0px;
    padding: 5px;
}

.gallery_items:hover {
    background-color: rgb(245, 146, 204);
    transition: 0.5s;
}

.gallery_items:hover h5{
    color: white;
    font-size: 30px;
    transition: 0.5s;
}

.gallery_pic > img{
    height: 250px;
    width: 400px;
}

.pic_name > h5{
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    color: rgb(255, 36, 164);
}

/* about section  */
.about_title{
    text-align: center;
    padding: 10px;
    margin: 20px 5px;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    font-weight: 900;    
}

.about_title > h3 > span{
    color: rgb(255, 36, 164);
}

.about_all{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 146, 204);
    margin: 10px 50px;
    padding: 10px 30px;
    border-radius: 8px;
}

.about_discription{
    color: white;
    line-height: 50px;
}

/* footer section  */
footer{
    background-color: black;
    margin: 10px;
    border-radius: 8px;
}

.copy{
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    color: white;
    padding: 5px;
    border: 5px solid rgb(255, 36, 164);
    border-radius: 8px;
}